
.header {
    display:flex;
    padding: 2rem;
    text-align: center;
    background: url("img/water.jpg");
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.header img{
    width: 3rem;
    height: 3rem;
}
.header ul li input{
    width:300px;
    height: 2em;
}
.header ul li button{
    height: 34px;
}

.header li{
    float: left;
    list-style: none;
    padding-left: 7rem;
}

.website{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: row;
    gap: 1rem;


}
.container{
    border: 1px solid white;
    border-radius: 8% 8% 2% 2%;
    width: 450px;
    height: 860px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.container{
    position:relative;
    margin: 0;
}
.fa-heart{
    left: 300px;
    top: 0;
}
.img1{
    width:100%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}
.img2{
    width:100%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}
.fa-heart{
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;

}
.one{
    grid-column: span 4;
}
.two{
    padding: 1em 0 1em 1em;
    grid-column: span 4;
    border-bottom: 1px solid lightgray;
}

.two .sub1{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, monospace;
    color: rgba(58,67,85,255);
    font-size: 1.5em;
}

.two .sub2{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: black;
    padding-top: 5px;
    font-size: 2em;
    font-weight: normal;

}

.two .sub3{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: rgba(58,67,85,255);
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: normal;
}
.bathroom{
    float:left;
}





.thr{
    padding: 1em 0 1em 1em;
    grid-column: span 2;

}
.thr p{
    padding-left: 3em;
    line-height: 5px;
}

.fou{
    padding-top: 1rem;
    grid-column: span 2;
}
.fou .bedroom{
    float:left;
}
.fou p{
    padding-left: 3em;
    line-height: 5px;
}
.exa{
    padding-top: 1rem;
    grid-column: span 4;
}
.exa .kitchen{
    float: left;
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: 1px;
}
.exa p{
    padding-left: 3em;
    line-height: 5px;
}
.exa1{
    padding-top: 1rem;
    grid-column: span 2;
}
.exa1 .kitchen{
    float:left;
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: 1px;
}
.exa1 .word1{
    line-height: 5px;
    padding-left: 1em;
}


.exa2{
    padding-top: 1rem;
    grid-column: span 2;
}

.exa2 .garage{
    float: left;
    padding-left: 1em;
    padding-bottom:  1em;
    line-height: 1px;
}


.exa2 .word2{
    line-height: 5px;
    padding-left: 4em;
}


.fiv{
    border-top: 1px solid lightgray;
    padding: 1em 0 1em 1em;
    grid-column: span 4;
    color: rgba(94,108,132,255);

}

.six{
    grid-column:span 2;
}

.picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    padding-right: 1rem;
    padding-left: 1em;

}
.sub6{
    font-weight: bold;
}
.sub7{
    padding-top: 1em;
    color: rgba(94,108,132,255);
}

.sen{
    display:flex;
    grid-column: span 2;
    align-item: end;
    justify-content: end;
}
.sub8 {
    background-color: tomato;
    margin-top: 3em;
    margin-right: 1em;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align:center;
}

.bottom{

    background: url("img/water.jpg");
    height: 2rem;
    margin-top: 1rem;
}
.bottom p{
    padding: 5px;
    text-align: center;
}
@media only screen and (max-width: 1300px) {
    .website{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .header ul{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .website{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
    }
}

